<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form th:method="POST" th:action="@{/new}" th:object="${user}">
    <label for="login">Username</label>
    <input type="text" th:field="*{username}" id="login">
    <br/>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password">
    <br/>
    <input type="submit" value="Create new user">
</form>
<br/>
<a href="/users">Back</a>
<br/>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>

</body>
</html>