<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${user.getUsername()}">VALUE</p>
<p th:text="${user.getId()}">VALUE</p>

<br/>

<br/>
<form th:method="GET" th:action="@{/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Edit user">
</form>
<form th:method="DELETE" th:action="@{/{id}/delete(id=${user.getId()})}" th:object="${user}">

    <input type="submit" value="Delete user">
</form>
<br/>
<a href="/users">Back</a>
<br/>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
</body>
</html>